{% extends 'centro/principal.html' %}

{% block content %}
{% load static %}
<div class="container">
    <div style="text-align: center">
        <br><br><br>
        <p style="color: #ffffff; font-size: 1.5cm; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <b>GRACIAS POR CONTACTAR CON NOSOTROS, VALORAMOS MUCHO TU OPINIÓN. </b>
        </p>

        <img src="{% static 'contacto/img/gracias2.jpg' %}" >
        <br><br>
    </div>
</div>
<br><br><br>

{% endblock %}