{% extends 'centro/principal.html' %}

{% block content %}
<br>
<div class="container">
    <center>
        <br>
        <p style="color: #ffffff; font-size: 1.5cm; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><b>ACTIVIDADES</b></p>
        <div class="dropdown-divider"></div>
        <br>
        {% if 'add' in request.GET %}
        <center>
            <div class="alert alert-success" role="alert" style="width: 12cm">
                Actividad añadida correctamente!
            </div>
        </center>
        <br>
        {% endif %}
        {% if 'edit' in request.GET %}
        <center>
            <div class="alert alert-warning" role="alert" style="width: 12cm">
                Actividad editada correctamente!
            </div>
        </center>
        <br>
        {% endif %}
        {% if 'del' in request.GET %}
        <center>
            <div class="alert alert-danger" role="alert" style="width: 12cm">
                Actividad eliminada correctamente!
            </div>
        </center>
        <br>
        {% endif %}
        {% if request.user.is_staff %}
            <a href="{% url 'createActividad' %}">
                <button class="btn btn-light btn-lg btn-block" style="width: 20cm;"><i class="fas fa-plus"></i> <b>CREAR ACTIVIDAD</b></button>
            </a>
        {% endif %}
        <br>
        {% for act in actividad_list %}
        <div class="card bg-dark text-white" style="width: 20cm;">
            <img src="{{act.imagen.url}}" class="card-img" height="400cm" width="280cm">
            <div class="card-img-overlay" style="background-color: #5e5c5f8c;">
                <div class="card-img-overlay" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                    <h1 class="card-title"><b>{{act.nombre}}</b></h1>
                    <p class="card-text" >{{act.descripcion}}</p>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'actividad_detail' act.id act.nombre|slugify %}">
                            <button type="button" class="btn btn-outline-light"><i class="far fa-eye"></i></button>
                        </a>
                    {% endif %}
                </div>
            </div>            
        </div>
        <br><br>
        {% endfor %}
    </center>
</div>
<br><br>
{% endblock %}