{% extends 'centro/principal.html' %}

{% block content %}
<br><br>
<div class="container">
    <center>
        <p style="color: #ffffff; font-size: 1.5cm; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><b>CREAR CENTRO</b></p>
        <div class="dropdown-divider"></div>
        <br>
        <form method="post" action="" enctype = "multipart/form-data">
            {% csrf_token %}
            <div style="color: #ffffff;">
                <b>{{form.as_p}}</b>
            </div>
            <br>
            <button type="submit" class="btn btn-primary"><b>CREAR CENTRO</b></button>
        </form>
        <br>
        <a href="{% url 'home' %}">
            <button class="btn btn-light"><b>VOLVER</b></button>
        </a>
    </center>
</div>
<br><br>
{% endblock %}